version: '3'

services:
  postgres:
    image: postgres:latest
    container_name: shiki_recs_db
    environment:
      POSTGRES_DB: shiki_recs
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
    ports:
      - "5432:5432"
    volumes:
      - ./resources/volumes:/var/lib/postgresql
